.menu{
    width: 90vw;
    position: fixed;
    display: flex;
    justify-content: space-around;
    background-color: $color1;
    bottom: 0;
    margin: 5%;
    border-radius: 30px;

    .leftright{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .icomenu{
        width: 100px;
        margin-top: 15px; 
    }

    .nameico{
        font-family: $font1;
        font-size: 30px;
        color: white;
        padding-top: 10px;
        padding-bottom: 20px;
    }

    .Gopht-btn{
        width: 200px;
        margin-top: -45%;

    }
    .led{
        display: none;
    }
    
    
    .active, .led:hover {
        height: 10px;
        background-color: white;
        font-family: $font1;
        border-radius: 15px;
        box-shadow: 0px 5px 15px 2px white;
    }

}

