*{
    margin: 0;
    padding: 0;
    border: none;
    font-weight: 400;
    font-style: none;
    text-decoration: none;
}

body{
    width: 100vw;
height: 1830px;
border: solid 5px red;
}


/*typo prédéfini*/
$font1: 'Rubik', sans-serif;;

$font1: 'Rubik', sans-serif;;

/*couleur prédéfini*/
$color1: #8EAA90;
$color2: #C9DECB;
$color3: #666565;





